<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>勤怠情報一覧（日別）</title>
<link rel="stylesheet" type="text/css" href="/ATTDAY.css">
<script src="/submitForm.js"></script>

</head>
<body>
	<h1>勤怠情報一覧（日別）</h1>
	<form id="selectForm" th:object="${searchForm}">
	<div class="tb1">
		<table>
			<tr>
				<th>社員ID</th>
				<td>123456</td>
				<th>社員名</th>
				<td>123456</td>
				<th>所属部門</th>
				<td>123456</td>
			</tr>
		</table>
		</div>
		<div class="tb2">
		<label for="input1">日付</label> <input type="date" id="date"
			th:field="*{attendanceDate}"> <label for="input2">状態</label>
		<select name="statusId" th:field="*{statusId}">
			<option value="000">選択してください</option>
			<option th:each="status : ${statusList}"
				th:value="${status.statusId}" th:text="${status.statusName}"
				th:selected="${status.statusId == '000'}"></option>
		</select>
		<button class="button" type="submit"
				onclick="submitForm('selectForm','search','post')">検索</button>
			<button class="button" type="submit"
				onclick="submitForm('selectForm','add')">新規作成</button>
			<button class="button">戻る</button>
		</div>
		<div class="tb3">
		<table>
			<thead>
				<tr>
					<th class="center">日付</th>
					<th class="center">出勤時間</th>
					<th class="center">退勤時間</th>
					<th class="center narrow-header">休憩時間</th>
					<th class="center narrow-header">残業時間</th>
					<th class="center narrow-header">実働時間</th>
					<th class="center">状態</th>
					<th class="center wide-header">作業内容</th>
					<th class="center">修正</th>
					<th class="center">削除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${attendanceList}"
					th:object="${attendance}">
					<td class="center" th:text="*{attendanceDate}"></td>
					<td class="center" th:text="*{startTime}"></td>
					<td class="center" th:text="*{endTime}"></td>
					<td class="right" th:text="*{restHours}"></td>
					<td class="right" th:text="*{overtimeHours}"></td>
					<td class="right" th:text="*{workingHours}"></td>
					<td class="center" th:text="*{statusName}"></td>
					<td class="left" th:text="*{remarks}"></td>
					<td class="center"><a th:href="@{/add/{date}/update(date=*{attendanceDate})}"
						class="btn">修正</a></td>
					<td class="center"><a th:href="@{/to/{date}/delete(date=*{attendanceDate})}"
						class="btn">削除</a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</form>
</body>
</html>